.faq{
    padding-left: 5%;
}
body{
    background-color: black;
}
#commentbox{
    color: #f3bc46;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    text-align: center;
}
#commentarea{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
    background-color:  #f3bc46;
    font-weight: bold;
    font-size: 20px;
}
button{
    width: 90px;
    height: 30px;
    font-weight: bold;
    background-color: black;
    color: #f3bc46;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}