body {
  background-color: #1a354b;
  margin: 0px;
  padding: 0px;
}
textarea {
  width: 300px;
  height: 100px;
}
.message {
  width: 100%;
  position: absolute;
  bottom: 20px;
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: 5px;
  color: white;
  margin: 0px;
}
li {
  color: #f3bc46;
  font-size: 20px;
}
h1 {
  color: white;
}
