body {
  margin: 0px;
  padding: 0px;
}

div.navdivs {
  width: 100%;
  height: 35px;
  background: rgba(0, 0, 0, 0.1);
}

div.items {
  position: relative;
  display: none;
  min-height: 500px;
  -webkit-animation-name: slide;
  -webkit-animation-duration: 0.5s;
  animation-name: slide;
  animation-duration: 0.5s;
}

@-webkit-keyframes slide {
  from {
    left: 100px;
    width: calc(100% - 100px);
  }
  to {
    left: 0px;
    width: 100%;
  }
}

@keyframes slide {
  from {
    left: 100px;
    width: calc(100% - 100px);
  }
  to {
    left: 0px;
    width: 100%;
  }
}

div.active {
  display: block;
}

div.head {
  background: rgba(0, 0, 0, 0.8);
  height: 500px;
  width: 100%;
}
div.footer {
  background: grey;
  height: 50px;
  width: 100%;
}

button.navs {
  cursor: pointer;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #282828;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-rendering: auto;
  margin-left: 10px;
  margin-right: 10px;
  font: 1000 20px Arial;
  border: none;
  background: none;
  outline: none;
}
button.selected {
  border-bottom: 2px solid #c61d23;
  color: #c61d23;
}

div.content {
  margin: 10px;
  background: none;
  width: calc(100%-20px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-height: 500px;
}

hr.rotated {
  width: 50px;
  color: white;
  height: 3px;
  background: white;
  position: relative;
  left: 400px;
  top: 100px;
  transform: rotate(-60deg);
}
