.faq {
  display: inline-block;
}
body {
  background-color: #1a354b;
  text-align: center;
}
#commentarea {
  margin: 0px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: whitesmoke;
  font-weight: bold;
  font-size: 15px;
  height: 40px;
  width: 1080px;
  border-radius: 10px;
  outline: none;
}
button {
  width: 90px;
  height: 30px;
  font-weight: bold;
  background-color: dodgerblue;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0px;
  position: relative;
  top: -14px;
  border-radius: 5px;
  outline: none;
}
form {
  margin-right: 20px;
  float: right;
  width: 1180px;
  text-align: center;
}
.faqs {
  display: inline-block;
  width: 1180px;
  height: 600px;
  overflow-y: scroll;
}
.question {
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  max-width: 900px;
  color: #f3bc46;
  text-align: left;
}
.answer {
  font-size: medium;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  float: right;
  max-width: 900px;
  color: white;
  text-align: right;
  margin-bottom: 20px;
}
