body {
  background-color: #d3d3d3;
}

#participantDescription {
  margin-left: 300px;
  margin-top: -200px;
}

#profile {
  width: 250px;
  height: 250px;
  border: 1px solid black;
  border-radius: 50%;
}

#logoutButton {
  float: right;
  margin-top: -200px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
}

a {
  color: black;
  text-align: center;
}

img {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 50%;
}

td {
  padding-left: 30px;
  padding-right: 30px;
}
tr {
  display: block;
  width: max-content;
}

h1 {
  text-align: center;
  padding-top: 50px;
  color: black;
  font-size: 50px;
  font-weight: bold;
  text-decoration: underline;
}

h2 {
  text-align: justify;
}
